header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;

    padding-left: 20px;
    padding-right: 35px;
}

header h1 {
    margin: 0;
    padding: 15px;
}

header img {
    background-color: white;
    border-radius: 25px;
    width: 40px;
    height: auto;

}

ol {
    list-style: decimal inside;
    width: 40%;
    padding-left: 15px;
}

li {
    cursor: pointer;
    line-height: 30px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s, text-decoration 0.3s;

    &:hover {
        background-color: rgb(230, 230, 230);
    }
}

.selected {
    background-color: rgb(210, 210, 210);
    text-decoration: underline;
}

.code-snippet-box {
    position: fixed;
    width: 40vw;
    height: 80vh;
    top: 90px;
    right: 50px;
    bottom: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: auto;
    color: white;
    padding: 0 10px;

    & p {
        margin: 5px;
    }

    & a {
        color: white;
    }
}